/* Import google Font */
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
/* end Import google Font */

header{
    box-shadow: unset !important;
}
.main{
    padding-top: 14em !important;
}

.hlcp-main{
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 7px 0px inset;
    display: flex;
    flex-direction: row;
    font-family: "Proximanova", sans-serif;
    background: #FFF;
    height: 148px !important;
    width: 100%;
    padding: 10px 0px 10px 5.75%;
    overflow-x: auto;
    align-items: center;
}
.hlcp-heading{
    padding-left: 16px;
    margin-right: 20px;
    white-space: nowrap;
}
.hlcp-main-heading, .hlcp-sub-heading{
    display: block;
    color: #000000;
}
.hlcp-main-heading{
    font-size: 27px;
    font-weight: 600;
    margin: 10px 0;
}
.hlcp-heading-on-scroll{
    display: none;
    margin-bottom: 10px;
    padding-left: 16px;
}
.hlcp-heading-on-scroll span{
    color: #000000;
    font-size: 14px;
    font-weight: 600;
}
.hlcp-lang{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
}
.hlcp-lang-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 17px;
}
.hlcp-lang-link{
    color: inherit !important;
}
.hlcp-lang-link, .hlcp-lang-link:hover{
    text-decoration: none;
}

.hlcp-country-flag{
    display: flex;
    margin: 7px 0;
}
.hlcp-country-flag img{
    border: 4px solid #e4e5e7;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

/* .hlcp-country-flag img:hover, .hlcp-lang-link:hover, .hlcp-lang-item:hover {
    border-color: #3994ff !important;
    color: #3994ff  !important;
}

.hlcp-country-flag img:hover{
    min-width: 68px;
    height: 68px;
} */

.hlcp-lang-name{
    font-size: 14px;
    font-weight: 600;
    color: #000000;
}

.hlcp-lang-item:hover .hlcp-lang-name{
    color: #3994ff;
}

.hlcp-lang-item:hover img{
    width: 68px;
    height: 68px;
    border-color: #3994ff !important;
    color: #3994ff  !important;
}

.hlcp-lang-show{
    display: none;
}

.hlcp-auto-height{
    height: auto !important;
}

/* .hlcp-main::-webkit-scrollbar {
    height: 5px;             
    width: 4px;              
    border: 1px solid #ffffff;
}

.hlcp-main::-webkit-scrollbar-track {
  border-radius: 0;
  background: #ffffff;
}

.hlcp-main::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #777777;
} */

.hlcp-main-onscroll{
    flex-direction: column !important;
    align-items: unset !important;
    padding: 12px 5.75% !important;
    box-shadow: unset !important;
    border-top: 1px solid #cbcbcb !important;
}

.hlcp-lang-item-onscroll{
    flex-direction: row !important;
    margin: 0 !important;
    margin-right: 12px !important;
    padding: 5px 8px !important;
    border: solid 1px #cbcbcb !important;
}

.hlcp-country-flag-onscroll{
    margin: 0 !important;
}
.hlcp-country-flag-onscroll img{
    min-width: 20px !important;
    height: 20px !important;
    border: unset !important;
    margin-right: 5px !important;
}

/* Mobile Responsive Layout */
@media only screen and (max-width: 600px) {
    header{
        box-shadow: 0px 0px 12px 0 rgb(0 0 0 / 25%) !important
    }
    .hlcp-main{
        border-top: 1px solid #cbcbcb;
        flex-direction: column; 
        align-items: unset;
        padding: 12px 5.75%;
        box-shadow:unset;
        height: auto !important;
    }
    .hlcp-heading{
        display: none;
    }
    .hlcp-heading-on-scroll{
        display: block;
        padding-left: 0;
    }
    .hlcp-lang{
        padding-left: 0;
    }
    .hlcp-lang-item{
        flex-direction: row;
        margin: 0;
        margin-right: 12px;
        padding: 5px 8px;
        border: solid 1px #cbcbcb;
    }
    .hlcp-country-flag{
        margin: 0
    }
    .hlcp-country-flag img{
        min-width: 20px;
        height: 20px;
        border: unset;
        margin-right: 5px;
    }
    .hlcp-lang-more{
        display: none;
    }
    .hlcp-lang-show{
        display: flex;
    }
}